/**
 * Sass CSS Framework: Skip to Content Link
 *
 * Requires: mizzou-variables.scss, mizzou-base.scss
 *
 * @author Josh Hughes (hughesjd@missouri.edu), Undergraduate Studies, University of Missouri
 * @copyright 2016 Curators of the University of Missouri
 */

.skip-to-content
{
    @media print
    {
        display: none;
    }

    &,
    &:hover,
    &:focus,
    &:active
    {
        background: $color-gold-300;
        border-bottom: 4px solid $color-gold-400;
        color: $color-brown-500;
        font-weight: $font-weight-bold;
        position: absolute;
        top: -5000px;
        left: 0;
        width: 100%;
        z-index: 10000;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        padding: 16px 16px 8px 16px;
        font-size: 24px;
        text-align: center;
        outline: none;
    }
    
    &:focus,
    &:active
    {
        top: 0;
    }
}