/**
 * Sass CSS Framework: Forms
 *
 * Requires: mizzou-variables.scss, mizzou-base.scss
 *
 * @author Josh Hughes (hughesjd@missouri.edu), Undergraduate Studies, University of Missouri
 * @copyright 2016 Curators of the University of Missouri
 */

// Field containers
.form__field
{
    @include standard-margin;
    @include clear-fix;
    padding-top: 8px;
}

// Labels
.form__field__label
{
    font-weight: $font-weight-bold;
}

// Default width fields
.form__field__text
{
    &.form__field__text--default-width
    {
        width: auto;
    }
}

// Errors
.form__field.form__field--error
{
    .form__field__label
    {
        color: $color-red-400;
    }
    
    .form__field__text
    {
        border-color: $color-red-300;
        
        &:focus
        {
            outline-color: transparentize($color-red-300, 0.25);
        }
    }
}

.form__field__error-message
{
    padding: 4px 8px;
    border: 1px solid $color-red-200;
    background: $color-red-100;
    color: $color-red-400;
    display: block;
    position: relative;
    border-radius: 4px;
    margin-bottom: 8px;
    font-weight: normal;
    
    @supports (transform: rotate(-45deg))
    {
        &:after
        {
            content: ' ';
            display: block;
            position: absolute;
            width: 12px;
            height: 12px;
            background: $color-red-100;
            bottom: -7px;
            left: 16px;
            transform: rotate(-45deg);
            border-left: 1px solid $color-red-200;
            border-bottom: 1px solid $color-red-200;
        }
    }
}

.form__field__error-message__separator
{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

// Custom layout for checkboxes and radio buttons
.form__field__box-list
{
    list-style: none;
    padding: 0;
}

.form__field__box-list__item
{
    @include standard-margin(
        $margin-bottom: 4px
    );
    position: relative;
    
    label
    {
        display: block;
        background: lighten($color-grey-100, 2%);
        border: 1px solid $color-grey-200;
        color: $color-grey-500;
        border-radius: 4px;
        padding: 4px 8px 4px 36px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    
    .form__field__checkbox,
    .form__field__radio
    {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        
        // Checkbox or Radio button, redrawn
        & + label:before
        {
            content: ' ';
            display: block;
            border: 1px solid $color-grey-200;
            background: #fff;
            width: 20px;
            height: 20px;
            border-radius: 2px;
            position: absolute;
            top: 6px;
            left: 8px;
        }
        
        // Focus style for label when unchecked
        &:focus + label
        {
            border-color: $color-gold-500;
            outline: 4px solid transparentize($color-gold-500, 0.25);
            outline-offset: 0;
            border-radius: 0;
        }
        
        // Focus style for label when checked
        &:checked:focus + label
        {
            border-color: $color-gold-500;
        }
        
        // Style for label when checked
        &:checked + label,
        {
            background: $color-gold-100;
            border-color: $color-gold-300;
            
            // Checkbox or Radio button, redrawn
            &:before
            {
                border-color: $color-gold-500;
            }
        }
    }
    
    .form__field__checkbox
    {
        // Checkbox, redrawn
        & + label:before
        {
            border-radius: 2px;
        }
        
        // Checkbox, redrawn when checked
        &:checked + label:after
        {
            content: ' ';
            display: block;
            border-left: 2px solid #000;
            border-bottom: 2px solid #000;
            width: 10px;
            height: 5px;
            position: absolute;
            top: 13px;
            left: 13px;
            transform: rotate(-45deg);
        }
    }
    
    .form__field__radio
    {
        // Radio button, redrawn
        & + label:before
        {
            border-radius: 10px;
        }
        
        // Radio button, redrawn when checked
        &:checked + label:after
        {
            content: ' ';
            display: block;
            background: #000;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            position: absolute;
            top: 12px;
            left: 14px;
        }
    }
}

.form__field__help
{
    font-size: 14px;
    padding-top: 4px;
    margin-bottom: 0;
}