/**
 * Sass CSS Framework: Alerts
 *
 * Requires: mizzou-variables.scss, mizzou-base.scss
 *
 * @author Josh Hughes (hughesjd@missouri.edu), Travis Cook (cooktw@missouri.edu), Undergraduate Studies, University of Missouri
 * @copyright 2018 Curators of the University of Missouri
 */

.alert
{
    @include standard-margin;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid $color-gold-300;
    background: $color-gold-100;
    color: $color-grey-500;
    
    // Error box
    &.alert--error
    {
        border: 1px solid $color-red-200;
        background: $color-red-100;
        color: $color-red-400;
    }
    
    // Success box
    &.alert--success
    {
        border: 1px solid $color-green-200;
        background: $color-green-100;
        color: $color-green-500;
    }

    // Information box
    &.alert--info
    {
        border: 1px solid $color-blue-200;
        background: $color-blue-100;
        color: #000;
    }
}