/**
 * Sass CSS Framework: Search Form
 *
 * Requires: mizzou-variables.scss, mizzou-base.scss, mizzou-buttons.scss
 *
 * @author Josh Hughes (hughesjd@missouri.edu), Travis Cook (cooktw@missouri.edu), Undergraduate Studies, University of Missouri
 * @copyright 2018 Curators of the University of Missouri
 */

/**
 * Styles for a search form.
 *
 * @param string $theme (Optional) Color theme. Can be 'light' or 'dark'. Defaults to 'light'.
 * @param string $color-button (Optional) Button color. Can be 'brown', 'gold', or 'grey'. Defaults to 'brown' (see mizzou-buttons.scss).
 * @param boolean $redefine-style (Optional) Set to true if this mixin is being called again to change theme and color. Styles that don't change will only be defined the first time. Defaults to false.
 */
 @mixin search-form(
    $theme:                     'light',
    $color-button:              'brown',
    $redefine-style:            false
)
{
    @if not ($redefine-style) {
        @media print
        {
            display: none;
        }
    }

    .search-form__container
    {
        padding-right: 50px;
        
        @if not ($redefine-style) {
            position: relative;
        }
    }
    
    .search-form__label
    {
        @if not ($redefine-style) {
            position: absolute;
            top: -5000px;
            width: 1px;
            height: 1px;
            overflow: hidden;
        }
    }
    
    .search-form__input
    { 
        @if not ($redefine-style) {
            width: 100%;
            background: #fff;
            display: block;
            font-family: $font-sans-serif;
            font-size: 14px;
            line-height: 1;
            padding: 4px 8px;
            vertical-align: middle;
            height: 34px;
            box-shadow: none;
            border-radius: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-style: solid;
            border-width: 1px 0 1px 1px;
        }
    
        @if ($theme == 'dark') {
            border-color: #fff;
        } @else { // $theme == 'light'
            @if ($color-button == 'gold') {
                border-color: $color-gold-500;
            } @else if ($color-button == 'grey') {
                border-color: #000;
            } @else { // $color-button == 'brown' 
                border-color: $color-brown-500;
            }
        }
        
        &::-webkit-input-placeholder
        {
            @if not ($redefine-style) {
                line-height: 1.3125;
            }
        }
    }

    .search-form__button
    {
        @include button(
            $color: $color-button,
            $theme: $theme
        );
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 34px;
        padding: .25rem .875rem;
        
        @if not ($redefine-style) {
            line-height: 1;
            overflow: hidden;
        }
                
        span
        {
            @if not ($redefine-style) {
                display: inline-block;
            }
            
            @if (($color-button == 'brown') or (($color-button == 'grey') and ($theme == 'light'))) {
                @include replace-with-image(
                    $filename: 'icons/action/search-icon-white.svg',
                    $width: 16px,
                    $height: 16px
                );
            } @else {
                @include replace-with-image(
                    $filename: 'icons/action/search-icon-black.svg',
                    $width: 16px,
                    $height: 16px
                );
            }
        } 
    }
}

.miz-comp-ribbon__search
{
    text-align: center;
    
    @media #{$query-784}
    {
        flex: 0 0 50%;
        text-align: right;
    }

    @media print
    {
        display: none;
    }

    form
    {
        display: inline-block;
    }

    .miz-comp-form-element
    {
        position: relative;
    }

    .miz-comp-form-element__label--hidden
    {
        position: absolute;
        top: -500px;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 1px solid red;
    }

    .miz-comp-input__search
    {
        height: 21px;
        padding-top: 4px;
        padding-left: 8px;
        font-size: 14px;
        width: 248px;
        background: linear-gradient(90deg, #fff, 0, #eeeef0);
        border: none;
        border-radius: 2px 0 0 2px;
        float: left;        
    }

    .miz-comp-button .miz-comp-button_search
    {
        height: 30px;
        width: 30px;
        border: 0;
        border-radius: 0 2px 2px 0;
        border-left: 1px solid $color-gold-500;
        vertical-align: bottom;
        position: relative;

        .miz-comp-button__search--icon
        {
            display: block;
            position: absolute;
            top: 5px;
            left: 4px;
            width: 22px;
            height: 22px;
        }
    }
}