/**
 * Sass CSS Framework: Icons
 *
 * Requires: mizzou-variables.scss, mizzou-base.scss
 *
 * @author Travis Cook (cooktw@missouri.edu), Undergraduate Studies, University of Missouri
 * @copyright 2018 Curators of the University of Missouri
 */

.miz-icon, .miz-icon--sm, .miz-icon--md, .miz-icon--lg, .miz-icon--xl
{
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: -0.06525em;
}

.miz-icon--sm
{
    height: 1rem;
    width: 1rem;
}

.miz-icon--md
{
    height: 1.375rem;
    width: 1.375rem;
}

.miz-icon--lg
{
    height: 1.75rem;
    width: 1.75rem;
}

.miz-icon--xl
{
    height: 2.5rem;
    width: 2.5rem;
}

.miz-icon-fill--gold
{
    fill: $color-mu-gold;
}

.miz-icon-fill--black
{
    fill: $color-black;
}

.miz-icon-fill--white
{
    fill: #fff;
}