/**
 * Sass CSS Framework: Variables
 *
 * @author Josh Hughes (hughesjd@missouri.edu), Travis Cook (cooktw@missouri.edu), Undergraduate Studies, University of Missouri
 * @copyright 2018 Curators of the University of Missouri
 */
 
/* @group Buttons */

$button-color:              'brown';
$button-theme:              'light';

/* @end */

/* @group Social Media */

$social-icon-color:         'white';

/* @end */

/* @group Colors */

// Golds
$color-mu-gold:             #F1B82D;
$color-gold-100:            #FFF4D6;
$color-gold-200:            #FEE8B6;
$color-gold-300:            #FBD986;
$color-gold-350:            #f5c358;
$color-gold-400:            #F1B82D;
$color-gold-500:            #D79900;
$color-gold-600:            #AF7C00;

// Greys
$color-black:               #222222;
$color-grey-100:            #F0F0F0;
$color-grey-200:            #CCCCCC;
$color-grey-300:            #999999;
$color-grey-400:            #666666;
$color-grey-500:            #444444;
$color-grey-600:            #222222;

// Reds
$color-red:                 #900000;
$color-red-100:             #FFECEC;
$color-red-200:             #FFC2C4;
$color-red-300:             #CA4B4B;
$color-red-400:             #900000;
$color-red-500:             #6A0206;
$color-red-600:             #470102;

// Oranges
$color-orange:               #BD4D1F;
$color-orange-100:           #FFE4DB;
$color-orange-200:           #FFBEA9;
$color-orange-300:           #DE6835;
$color-orange-400:           #BD4D1F;
$color-orange-500:           #992D00;
$color-orange-600:           #611C00;

// Browns
$color-brown-100:           #ffe4db;
$color-brown-200:           #ffbea9;
$color-brown-300:           #de6835;
$color-brown-400:           #bd4d1f;
$color-brown-500:           #992d00;
$color-brown-600:           #611c00;

// Blues
$color-blue:                #318FD7;
$color-blue-100:            #E4F1FA;
$color-blue-200:            #B2D5F0;
$color-blue-300:            #65ABE1;
$color-blue-400:            #318FD7;
$color-blue-500:            #1A5888;
$color-blue-600:            #143650;

// Greens
$color-green:               #3F8F26;
$color-green-100:           #EBF4E9;
$color-green-200:           #B2CFA9;
$color-green-300:           #6FAB5D;
$color-green-400:           #3F8F26;
$color-green-500:           #2D671B;
$color-green-600:           #214716;

/* @end */

/* @group Fonts */

$font-sans-serif:           'Open Sans', proxima-nova, Helvetica, Arial, sans-serif;
$font-serif:                Palatino, 'Palatino Linotype', Georgia, 'Times New Roman', Times, serif;
$font-monospace:            'Source Code Pro', Consolas, Monaco, 'Andale Mono', monospace;
$font-graphik:              'Graphik Cond Web', Helvetica, Arial, sans-serif;
$font-clarendon:            'ClarendonURW-Reg', 'ClarendonURW-RegObl', 'ClarendonURW-Bol', Helvetica, Arial, sans-serif;
$font-open-sans:            'Open Sans', Helvetica, Arial, sans-serif;
$font-weight-bold:          600; // Semibold for Proxima Nova

/* @end */

/* @group Images */

// Default image path
$image-path:                '../images';

// Whether to make images flexible by default
$use-flexible-images:       true;

// Default max width of inset images (when aligned)
$inset-image-width:         50%;

/* @end */

/* @group Media Queries */

$query-384:                 'screen and (min-width: 384px)';
$query-464:                 'screen and (min-width: 464px)';
$query-544:                 'screen and (min-width: 544px)';
$query-576:                 'screen and (min-width: 576px)';
$query-624:                 'screen and (min-width: 624px)';
$query-704:                 'screen and (min-width: 704px)';
$query-768:                 'screen and (min-width: 768px)';
$query-784:                 'screen and (min-width: 784px)';
$query-864:                 'screen and (min-width: 864px)';
$query-992:                 'screen and (min-width: 992px)';
$query-944:                 'screen and (min-width: 944px)';
$query-1200:                'screen and (min-width: 1200px)';
$query-2x:                  'screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min--moz-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5)';

// Media query at which certain text styles are enlarged (set to false to disable)
$query-larger-text:         $query-624;

// Media query at which left/right aligned images are inset
$query-inset-images:        $query-464;

/* @end */

/* @group Viewport */

// Viewport width
$viewport-width:            device-width;

/* @end */