/**
 * @license
 * MyFonts Webfont Build ID 3570759, 2018-04-30T15:41:18-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: ClarendonURW-Bol by URW
 * URL: https://www.myfonts.com/fonts/urw/clarendon/urw-clarendon-t-bold/
 * 
 * Webfont: ClarendonURW-RegObl by URW
 * URL: https://www.myfonts.com/fonts/urw/clarendon/urw-clarendon-t-regular-oblique/
 * 
 * Webfont: ClarendonURW-BolObl by URW
 * URL: https://www.myfonts.com/fonts/urw/clarendon/urw-clarendon-t-bold-oblique/
 * 
 * Webfont: ClarendonURW-Reg by URW
 * URL: https://www.myfonts.com/fonts/urw/clarendon/urw-clarendon-t-regular/
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3570759
 * Licensed pageviews: 10,000,000
 * Webfonts copyright: Copyright 2010 URW++ Design &amp; Development Hamburg
 * 
 * © 2018 MyFonts Inc
*/

/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/367c47");

// Clarendon URW Regular
@font-face {
  font-family: 'ClarendonURW-Reg';
  src:  url('fonts/clarendon-urw/367C47_3_0.eot');
  src:  url('fonts/clarendon-urw/367C47_3_0.eot?#iefix')  format('embedded-opentype'),
        url('fonts/clarendon-urw/367C47_3_0.woff2')       format('woff2'),
        url('fonts/clarendon-urw/367C47_3_0.woff')        format('woff'),
        url('fonts/clarendon-urw/367C47_3_0.ttf')         format('truetype');
  }

  // Clarendon URW Regular Oblique
  @font-face {
    font-family: 'ClarendonURW-RegObl';
    src:  url('fonts/clarendon-urw/367C47_1_0.eot');
    src:  url('fonts/clarendon-urw/367C47_1_0.eot?#iefix')  format('embedded-opentype'),
          url('fonts/clarendon-urw/367C47_1_0.woff2')       format('woff2'),
          url('fonts/clarendon-urw/367C47_1_0.woff')        format('woff'),
          url('fonts/clarendon-urw/367C47_1_0.ttf')         format('truetype');
  }

// Clarendon URW Bold
@font-face {
  font-family: 'ClarendonURW-Bol';
  src:  url('fonts/clarendon-urw/367C47_0_0.eot');
  src:  url('fonts/clarendon-urw/367C47_0_0.eot?#iefix')  format('embedded-opentype'),
        url('fonts/clarendon-urw/367C47_0_0.woff2')    format('woff2'),
        url('fonts/clarendon-urw/367C47_0_0.woff')        format('woff'),
        url('fonts/clarendon-urw/367C47_0_0.ttf')      format('truetype');
  }

// Clarendon URW Bold Oblique
@font-face {
  font-family: 'ClarendonURW-BolObl';
  src:  url('fonts/clarendon-urw/367C47_2_0.eot');
  src:  url('fonts/clarendon-urw/367C47_2_0.eot?#iefix')  format('embedded-opentype'),
        url('fonts/clarendon-urw/367C47_2_0.woff2')       format('woff2'),
        url('fonts/clarendon-urw/367C47_2_0.woff')        format('woff'),
        url('fonts/clarendon-urw/367C47_2_0.ttf')         format('truetype');
  }

/*
  This font software is the property of Commercial Type.

  You may not modify the font software, use it on another website, or install it on a computer.

  License information is available at http://commercialtype.com/eula
  For more information please visit Commercial Type at http://commercialtype.com or email us at info[at]commercialtype.com

  Copyright (C) 2018 Schwartzco Inc.
  License: 1804-QUXBJE
*/

@font-face {
  font-family: 'Graphik Cond Web';
  src:  url('fonts/graphik-condensed-black/GraphikCondensed-Black-Web.eot');
  src:  url('fonts/graphik-condensed-black/GraphikCondensed-Black-Web.eot?#iefix')  format('embedded-opentype'),
        url('fonts/graphik-condensed-black/GraphikCondensed-Black-Web.woff2')       format('woff2'),
        url('fonts/graphik-condensed-black/GraphikCondensed-Black-Web.woff')        format('woff');
  font-weight:  800;
  font-style:   normal;
  font-stretch: normal;
  }

.GraphikCondensed-Black-Web {
  font-family: 'Graphik Cond Web';
  font-weight:  800;
  font-style:   normal;
  font-stretch: normal;
}

/*
  Open Sans
*/

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src:  local('Open Sans Light'), local('OpenSans-Light'),
        url('fonts/open-sans/open-sans-v15-latin-300.woff')         format('woff'),
        url('fonts/open-sans/open-sans-v15-latin-300.woff2')        format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  src:  local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
        url('fonts/open-sans/open-sans-v15-latin-300italic.woff')   format('woff'),
        url('fonts/open-sans/open-sans-v15-latin-300italic.woff2')  format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src:  local('Open Sans Regular'), local('OpenSans-Regular'),
        url('fonts/open-sans/open-sans-v15-latin-regular.woff')     format('woff'),
        url('fonts/open-sans/open-sans-v15-latin-regular.woff2')    format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  src:  local('Open Sans Italic'), local('OpenSans-Italic'),
        url('fonts/open-sans/open-sans-v15-latin-italic.woff')      format('woff'),
        url('fonts/open-sans/open-sans-v15-latin-italic.woff2')     format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src:  local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
        url('fonts/open-sans/open-sans-v15-latin-600.woff')         format('woff'),
        url('fonts/open-sans/open-sans-v15-latin-600.woff2')        format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  src:  local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
        url('fonts/open-sans/open-sans-v15-latin-600italic.woff')   format('woff'),
        url('fonts/open-sans/open-sans-v15-latin-600italic.woff2')  format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src:  local('Open Sans Bold'), local('OpenSans-Bold'),
        url('fonts/open-sans/open-sans-v15-latin-700.woff')         format('woff'),
        url('fonts/open-sans/open-sans-v15-latin-700.woff2')        format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
  src:  local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
        url('fonts/open-sans/open-sans-v15-latin-700italic.woff')   format('woff'),
        url('fonts/open-sans/open-sans-v15-latin-700italic.woff2')  format('woff2');
}
