/**
 * Sass CSS Framework: Social Media
 *
 * Requires: mizzou-variables.scss, mizzou-base.scss
 *
 * @author Josh Hughes (hughesjd@missouri.edu), Travis Cook (cooktw@missouri.edu), Undergraduate Studies, University of Missouri
 * @copyright 2018 Curators of the University of Missouri
 */

 .social-media
 {
     @include clear-fix;
     list-style: none;
     padding: 0;
     text-align: center;
     
     @media print
     {
         display: none;
     }
     
     .social-media__item
     {
         display: inline-block;
         margin-left: 16px;
         
         &:first-child
         {
             margin-left: 0;
         }
     }

     .social-media__facebook, .social-media__flickr, .social-media__google, .social-media__instagram, .social-media__linkedin, .social-media__pinterest, .social-media__snapchat, .social-media__twitter, .social-media__youtube
     {
        @if ($social-icon-color == 'gold' ) {
            @extend .miz-icon-fill--gold;
        } @else if ($social-icon-color == 'black' ) {
           @extend .miz-icon-fill--black;
        } @else {
           @extend .miz-icon-fill--white;
        }
     }
     
     .social-media__facebook
     {
         &:hover,
         &:active,
         &:focus
         {
             fill: #4267b2;
         }
     }
 
     .social-media__flickr
     {
         &:hover,
         &:active,
         &:focus
         {
             fill: #0063DC;
         }
     }
 
     .social-media__google
     { 
         &:hover,
         &:active,
         &:focus
         {
             fill: #4285F4;
         }
     }
 
     .social-media__instagram
     {
         &:hover,
         &:active,
         &:focus
         {
             fill: #405DE6;
         }
     }
 
     .social-media__linkedin
     {
         &:hover,
         &:active,
         &:focus
         {
             fill: #0077B5;
         }
     }
 
     .social-media__pinterest
     {
         &:hover,
         &:active,
         &:focus
         {
             fill: #E60023;
         }
     }
 
     .social-media__snapchat
     {
         &:hover,
         &:active,
         &:focus
         {
             fill: #FFFC00;
         }
     }
     
     .social-media__twitter
     {
         &:hover,
         &:active,
         &:focus
         {
             fill: #38A1F3;
         }
     }
 
     .social-media__youtube
     {
         &:hover,
         &:active,
         &:focus
         {
             fill: #ED3833;
         }
     }
 }