/**
 * Sass CSS Framework: Footer
 *
 * Requires: mizzou-variables.scss
 *
 * @author Josh Hughes (hughesjd@missouri.edu), Travis Cook (cooktw@missouri.edu), Undergraduate Studies, University of Missouri
 * @copyright 2018 Curators of the University of Missouri
 */

 footer
 {
     @include clear-fix;
     background: $color-grey-600;
     border-top: 2px solid #000;
     color: $color-grey-200;
         
     @media print
     {
         background: none;
         border-color: $color-grey-100;
         color: $color-grey-500;
     }
     
     p
     {
         margin-bottom: 4px;
         font-size: 14px;
         
         &:last-child
         {
             margin-bottom: 0;
         }
     }
     
     a 
     {
         color: $color-grey-100;
         
         @media print
         {
             color: #000;
         }
         
         &:hover,
         &:focus,
         &:active
         {
             color: $color-gold-300;
         }
     }
 }
 
.footer__container
{
    padding: 16px;

    @media #{$query-784}
    {
        display: flex;
    }
}

.legal-text
{
    @extend .col-md;
}
 
 .miz-comp-footer
 {
     .miz-comp-footer__container
     {
         width: 100%;
         margin-left: auto;
         margin-right: auto;
         padding: 15px 15px 2rem 15px;
         border-bottom: 1px solid $color-grey-400;
         
         @media #{$query-576}
         {
             max-width: 540px;
         }
 
         @media #{$query-768}
         {
             max-width: 720px;
             display: flex;
             align-items: center;
         }
 
         @media #{$query-992}
         {
             max-width: 960px;
         }
 
         @media #{$query-1200}
         {
             max-width: 1140px;
         }
 
         .miz-comp-footer__signature
         {
             padding-right: 20px;
             margin-right: 20px;
             margin-top: 1rem;
             padding-top: 5px;
 
             @media #{$query-464}
             {
                 border-right: 1px solid $color-grey-400;
                 padding-left: 30px;
             }
 
             @media #{$query-784}
             {
                 padding-left: initial;
             }
         }
 
         .miz-comp-footer__address
         {
             font-size: 14px;
             font-weight: 200;
             padding-top: 20px;
             margin: 0;
             line-height: 1.5;
 
             @media #{$query-464}
             {
                 padding-top: 5px;
             }

             @media #{$query-768}
             {
                flex: 0 0 25%;
             }
         }
     }
 }