/**
 * Sass CSS Framework: Masthead
 *
 * Requires: mizzou-variables.scss
 *
 * @author Travis Cook (cooktw@missouri.edu), Undergraduate Studies, University of Missouri
 * @copyright 2018 Curators of the University of Missouri
 */

 .miz-masthead
 {
    margin: 2rem 0 2rem 0;
 }

 .miz-masthead__title
 {
    font-size: 2rem;
    font-family: $font-open-sans;
    font-weight: 300;

    @media #{$query-768}
    {
        font-size: 3rem;
    }

    a
    {
        text-decoration: none;
        color: $color-black;

        &:hover, &:active, &:focus
        {
            color: $color-brown-500;
        }
    }
 }

 .miz-masthead__subhead
 {
    font-size: 1rem;
    font-family: $font-open-sans;
    font-weight: 300;
    margin-bottom: 0;

    @media #{$query-768}
    {
        font-size: 1.5rem;
    }
    
    a
    {
        text-decoration: none;
        color: $color-black;

        &:hover, &:active, &:focus
        {
            color: $color-brown-500;
        }
    }
 }