/**
 * Sass CSS Framework: Search Results
 *
 * Requires: mizzou-variables.scss, mizzou-base.scss
 *
 * @author Josh Hughes (hughesjd@missouri.edu), Travis Cook (cooktw@missouri.edu), Undergraduate Studies, University of Missouri
 * @copyright 2016 Curators of the University of Missouri
 */

// Query metadata
.search-results__metadata
{
    margin-bottom: 24px;
}

// Result list
.search-results__list
{
    @extend .list--spaced;
    @extend .list--no-style;
    margin-bottom: 24px;
}

.search-results__item
{
    border-left: 1.5rem solid $color-mu-gold;
    background: lighten($color-grey-100, 2%);
    padding: 1.5rem 3rem;
}

.search-results__item-title,
.search-results__item-summary,
.search-results__item-url
{
    margin: 0;
}

.search-results__item-title
{
    font-size: 16px;
    font-weight: $font-weight-bold;
    text-transform: uppercase;

    a
    {
        color: $color-black;

        &:hover, &:active, &:focus
        {
            color: $color-brown-500;
        }
    }
}

.search-results__item-url
{
    color: $color-black;
    word-break: break-all;
    margin-top: .5rem;
}

.search-results__item-summary
{
    margin-top: 1.5rem;
}

.search-archive
{
    table
    {
        td,th
        {
            border: 0;
        }
    }
}

.gsc-search-box.gsc-search-box-tools
{
    .gsc-search-box
    {
        td
        {
            border: 0;
        }

        .gsc-input
        {
            .gsc-input-box
            {
                .gsc-input
                {
                    .gsc-input
                    {
                        font-size: 2rem;
                        box-shadow: none;
                        font-weight: $font-weight-bold;
                    }
                }

                .gscb_a
                {
                    color: $color-black;

                    &:active, &:focus, &:hover
                    {
                        color: $color-mu-gold;
                    }
                }
            }
        }

        .gsc-search-button
        {
            .gsc-search-button.gsc-search-button-v2
            {
                border-color: $color-mu-gold;
                background-color: $color-mu-gold;
                padding: .5rem .875rem;
                font-size: 14px;
                border-radius: 4px;

                svg
                {
                    fill: #000;
                    width: 30px;
                    height: 30px;
                }

                &:hover, &:focus, &:active
                {
                    background-color: $color-gold-200;

                    svg
                    {
                        fill: #000;
                    }
                }
            }
        }
    }
    
}


.gsc-wrapper
{
    .gsc-webResult.gsc-result
    {
        border-bottom: 2px solid $color-black;
        background: lighten($color-grey-100, 2%);
        padding: 1.5rem 3rem;
        margin-bottom: 16px;
        position: relative;

        &:hover, &:focus, &:active
        {
            background: #fff;
            border-bottom: 2px solid $color-black;
        }

        .gs-title
        {
            font-size: 16px;
            font-weight: $font-weight-bold;
            text-decoration: none;
            font-family: $font-sans-serif;
            height: initial;

            .gs-title
            {
                color: $color-black;
                @extend .stretched-link;

                &:hover, &:active, &:focus
                {
                    color: $color-brown-500;
                    text-decoration: underline;
                }

                b
                {
                    color: $color-black;
                    text-decoration: none;
                    font-weight: $font-weight-bold;

                    &:hover, &:active, &:focus
                    {
                        color: $color-brown-500;
                    }
                }
            }

            &:before
            {
                content: '';
                width: 15px;
                height: 25px;
                position: absolute;
                left: 0;
                background: $color-mu-gold;
            }
        }

        .gsc-url-top
        {
            color: $color-black;
            word-break: break-all;
            margin-top: .5rem;
            font-family: $font-sans-serif;
        }

        .gsc-table-result
        {

            td, th
            {
                border: 0;
            }

            .gsc-table-cell-thumbnail.gsc-thumbnail
            {
                display: none;
            }

            .gsc-table-cell-snippet-close
            {
                margin-top: 1.5rem;
                padding: 8px;
                font-family: $font-sans-serif;
            }
        }
    }
}