/**
 * Sass CSS Framework: Pagination
 *
 * Requires: mizzou-variables.scss, mizzou-base.scss, mizzou-buttons.scss
 *
 * @author Josh Hughes (hughesjd@missouri.edu), Travis Cook (cooktw@missouri.edu), Undergraduate Studies, University of Missouri
 * @copyright 2018 Curators of the University of Missouri
 */

 .pagination
 {
     @include standard-margin;
     @include clear-fix;
 
     @media print
     {
         display: none;
     }
 }
 
 .pagination__list
 {        
     @extend .list--no-style;
     margin: 0;
 }
 
 .pagination__item
 {
     float: left;
     margin-right: 8px;
     margin-bottom: 8px;
 }
 
 .pagination__link
 {
     @include button(
         $color: 'gold',
         $size: 'small'
     );
     min-width: 3em;
     display: block;
 }
 
 .pagination__current-page
 {
     @include custom-button(
         $color-background:  #fff,
         $color-text:        #000,
         $color-border:      $color-grey-100
     );
     min-width: 3em;
     display: block;
 }

 .gsc-cursor-box.gs-bidi-start-align
 {
    @include standard-margin;
    @include clear-fix;

    @media print
    {
        display: none;
    } 

    .gsc-cursor
    {
        margin: 0;
        @extend .pagination;

        .gsc-cursor-page
        {
            @extend .page-item;
            
            @include button(
                $color: 'gold',
                $size: 'small'
            );

            min-width: 3em;
            display: block;

            &:hover, &:active, &:focus
            {
                text-decoration: none;
            }
        }
        
        .gsc-cursor-current-page
        {
            @include custom-button(
                $color-background:  #000,
                $color-text:        $color-mu-gold,
                $color-border:      $color-grey-600
            );
            
            min-width: 3em;
            display: block;
        }
     }
 }