/**
 * Sass CSS Framework: Person Profile
 *
 * Requires: mizzou-variables.scss, mizzou-base.scss
 *
 * @author Josh Hughes (hughesjd@missouri.edu), Undergraduate Studies, University of Missouri
 * @copyright 2016 Curators of the University of Missouri
 */

.person
{
    @include clear-fix;
    @include standard-margin(
        $margin-bottom: 32px
    );
}

.person__image
{
    @extend .alignright;
}

.person__name
{
    margin: 0;
}

.person__position
{
    color: $color-grey-500;
}

.person__metadata
{
    @include standard-margin;
    
    p
    {
        margin-bottom: 0;
    }
}