/**
 * Sass CSS Framework: Events
 *
 * Requires: mizzou-variables.scss, mizzou-base.scss
 *
 * @author Travis Cook (cooktw@missouri.edu), Undergraduate Studies, University of Missouri
 * @copyright 2018 Curators of the University of Missouri
 */

/**
 * Overlay the text of a feature story over the image.
 *
 * @param unit $width (Optional) Width of the text. Defaults to 232px.
 * @param unit $width (Optional) Offset of the text from the corner. Defaults to 16px.
 * @param unit $image-min-height (Optional) Min-height for the image container (useful if the image doesn't load). Defaults to -1, which doesn't set it.
 */
 @mixin feature-story-text-overlay(
    $width:                     232px,
    $offset:                    16px,
    $image-min-height:          -1
)
{
    position: relative;
    display: block;
    
    .event__text
    {
        background: transparentize(#000, 0.1);
        width: 232px;
        position: absolute;
        margin-top: 0;
        bottom: $offset;
        right: $offset;
        
        &.event__text--align-top
        {
            top: $offset;
            bottom: auto;
        }
        
        &.event__text--align-left
        {
            left: $offset;
            right: auto;
        }
    }
    
    .event__image
    {
        margin-bottom: 0;
    
        @if ($image-min-height != -1) {
            min-height: $image-min-height;
        }
    }
}

.event
{
    margin-bottom: 32px;
    display: flex;
    position: relative;
    
    a
    {
        text-decoration: none;
    }
    
    // Feature stories
    &.event--feature
    {
        .event__category
        {                            
            a
            {
                background: none;
                border-top: 0;
                border-bottom: 2px solid $color-grey-500;
                padding: 0 0 4px 0;
            }
        }
        
        .event__text
        {
            background: #000;
            padding: 16px;
            color: #fff;
            margin-top: -8px;
            
            a
            {
                color: $color-gold-400;
                
                &:hover,
                &:focus,
                &:active
                {
                    color: #fff;
                }
            }
        }
    }
}

.event__category
{
    margin-bottom: 8px;
    
    & + .event__image
    {
        margin-top: -8px;
    }
    
    a
    {
        background: $color-grey-600;
        color: $color-gold-400;
        padding: 4px 8px;
        border: 0;
        border-bottom: 2px solid #000;
        border-radius: 0;
        display: block;
    }

    a:hover,
    a:focus,
    a:active
    {
        background: $color-grey-600;
        border-color: #000;
        color: #fff;
    }
}

.event__image
{
    margin-bottom: 8px;
    
    img
    {
        display: block;
        width: 100%;
    }
}

// Small margin for all elements
.event__title,
.event__date,
.event__time,
.event__location,
.event__sponsor,
.event__excerpt,
.event__excerpt p
{
    @include standard-margin(
        $margin-bottom: 4px
    ); 
}

// Small font size for all regular text
.event__category,
.event__time,
.event__location,
.event__sponsor,
.event__excerpt p
{
    font-size: 14px;
}

.event__title
{
    font-size: 16px;
    font-weight: $font-weight-bold;
}

.event__time,
.event__location
{
    font-style: italic;
}

.event__date.calendar-view
{
    margin-right: 8px;
    flex: 0 0 125px;

    .event__date--month,
    .event__date--day,
    .event__date--year
    {
        display: block;
        text-align: center;
        margin-bottom: 0;
    }

    .event__date--month
    {
        background: $color-brown-500;
        color: #fff;
        font-variant: small-caps;
        width: 100%;
        padding: 4px 0;
        border-radius: 15px 15px 0 0;
        
        @media print
        {
            background: none;
            color: #000;
            border: 1px solid $color-grey-300;
        }
    }
    
    .event__date--day
    {
        background: #fff;
        color: #000;
        font-size: 30px;
        border: 1px solid $color-grey-300;
        border-bottom: 0;
        
        .resource-boxes &
        {
            border: 0;
        }
    }

    .event__date--year
    {
        background: #fff;
        color: #000;
        border: 1px solid $color-grey-300;
        border-top: 0;
        border-radius: 0 0 15px 15px;
        
        .resource-boxes &
        {
            border: 0;
        }
    }
}

.event__sponsor
{
    z-index: 2;
}

.event__description
{
    align-self: center;
}