/**
 * Sass CSS Framework: Hero
 *
 * Requires: mizzou-variables.scss, mizzou-base.scss
 *
 * @author Travis Cook (cooktw@missouri.edu), Undergraduate Studies, University of Missouri
 * @copyright 2018 Curators of the University of Missouri
 */

 .miz-comp-hero 
 {
     position: relative;
     margin-left: auto;
     margin-right: auto;
 
     // Full-width Layout
     &.miz-comp-hero
     {
         &--md 
         {
             @media #{$query-784}
             {
                 height: 425px;
             }
         }
 
         &--sm 
         {
             @media #{$query-784}
             {
                 height: 225px;
             }
         }
 
         &--lg 
         {
             @media #{$query-784}
             {
                 height: 600px;
             }
         }
 
         &--sm, &--md, &--lg
         {
             .miz-comp-hero__image
             {
                 
                 @media #{$query-784}
                 {
                     display: none;
                 }
             }
 
             .miz-comp-hero__cta
             {
                 color: darken(#fff, 10%);
                 padding: 1em 1.5em 2em;
 
                &.miz-comp-hero__cta-align-vertical 
                {
                    @media #{$query-784}
                    {
                        position: absolute;
                        top: 1.5em;
                        width: 300px;
                        background-image: linear-gradient(#000, rgba(0, 0, 0, .79) 50%, rgba(0, 0, 0, .745) 65%, rgba(0, 0, 0, .7225) 75.5%, rgba(0, 0, 0, .7111) 82.85%, rgba(0, 0, 0, .7057) 88%, rgba(0, 0, 0, .7));
                    }                    
                }

                &.miz-comp-hero__cta-align-horizontal 
                {
                    @media #{$query-784}
                    {
                        position: absolute;
                        top: 1.5em;
                        background-image: linear-gradient(#000, rgba(0, 0, 0, .79) 50%, rgba(0, 0, 0, .745) 65%, rgba(0, 0, 0, .7225) 75.5%, rgba(0, 0, 0, .7111) 82.85%, rgba(0, 0, 0, .7057) 88%, rgba(0, 0, 0, .7));
                    }

                    @media #{$query-704}
                    {
                        width: 645px;
                    }  
                }
                
                &.miz-comp-hero__cta--bottom
                {
                    @media #{$query-784}
                    {
                        bottom: 1.5em;
                        top: initial;
                    }
                }
             }
         }
     }
 
     // Hero Alternative Layout
     &.miz-comp-hero__alt-layout
     {
         @media #{$query-784}
         {
             display: flex;
         }
         
         .miz-comp-hero__image
         {
             @media #{$query-784}
             {
                 flex: 0 0 704px;
                 margin-bottom: 0;
 
                 &.hero__image-right
                 {
                     order: 1;
                 }
             } 
         }
     }
 
     // Hero Video Layout
     &.hero-feature-video
     {
         margin-bottom: 0;
         color: #fff;
         padding-top: 0;
     
         @include grid-row();
         
         @media #{$query-704}
         {
             
         }
         
         p
         {
             margin-bottom: 0;
             font-size: 16px;
         }
     
         .miz-comp-hero__video
         {
             @media #{$query-784}
             {
                 @include grid-column(
                     $x: 1,
                     $y: 2,
                     $padding-left: 0
                 );
                 margin-bottom: 0;
             }
             
             @media #{$query-944}
             {
                 @include grid-column(
                     $x: 3,
                     $y: 4
                 );
                 margin-bottom: 0;
                 padding-top: 8px;
             }
             
             @media print
             {
                 width: auto;
                 float: none;
             }
         }
     
         .miz-comp-hero__cta
         {
             background-color: transparent;
             position: initial;
     
             @media #{$query-784}
             {
                 @include grid-column(
                     $x: 1,
                     $y: 2,
                     $padding-right: 0
                 );
             }
             
             @media #{$query-944}
             {
                 @include grid-column(
                     $x: 1,
                     $y: 4
                 );
                 padding-top: 8px;
             }
             
             @media print
             {
                 width: auto;
                 float: none;
             }
         }
     }
 }
 
 .miz-comp-hero__title
 {
     color: $color-gold-350;
     //font-family: $font-graphik;
 
     a
     {
         color: $color-gold-350;
 
         &:hover, &:active, &:focus
         {
             color: #fff;
             text-decoration: none;
         }
     }
 }
 
 .miz-comp-hero__cta
 {
     color: darken(#fff, 10%);
     padding: 1em 1.5em 2em;
 
     h2 
     {
         color: $color-gold-350;
         font-weight: 400;
         font-size: 36px;
     }
 }
 
 .miz-comp-hero__excerpt
 {
     //font-family: $font-clarendon;
 
     a
     {
         color: #fff;
 
         &:hover, &:active, &:focus
         {
             color: $color-gold-350;
         }
     }
 }
 
 .miz-comp-hero__attribution
 {
     margin-top: 1em;
     font-style: italic;
 
     a
     {
         color: $color-gold-350;
         text-decoration: none;
 
         &:hover, &:active, &:focus
         {
             color: #fff;
         }
     }
 }
 
 .miz-comp-hero__category
 {                            
     color: #fff;
 
     a
     {
         background: none;
         border-top: 0;
         border-bottom: 2px solid $color-grey-500;
         padding: 0 0 4px 0;
         color: $color-gold-400;
 
         &:hover, &:focus, &:hover
         {
             color: #fff;
         }
     }
 }