/**
 * Sass CSS Framework: Sub Navigation
 *
 * Requires: mizzou-variables.scss
 *
 * @author Travis Cook (cooktw@missouri.edu), Undergraduate Studies, University of Missouri
 * @copyright 2018 Curators of the University of Missouri
 */

/**
 * Sets up a sub navigation with custom attributes.
 *
 * @param color $color-border Border color.
 * @param color $color-link Link color.
 * @param color $color-link-hover Link color on hover and focus.
 * @param color $color-link-background-highlight Background gradient top color.
 * @param color $color-link-background Background gradient bottom color.
 * @param color $color-link-background-hover-highlight Link background gradient on hover and focus top color.
 * @param color $color-link-background-hover Link background gradient on hover and focus bottom color.
 * @param color $color-current-page (Optional) Current page color. Defaults to $color-link-hover.
 * @param color $color-current-page-background-highlight (Optional) Current page background gradient top color. Defaults to $color-link-background-hover-highlight.
 * @param color $color-current-page-background (Optional) Current page background gradient bottom color. Defaults to $color-link-background-hover.
 * @param boolean $main-dropdown (Optional) Whether the primary navigation uses dropdown menus. This uses a different nav macro. Defaults to false.
 */

 @mixin custom-sub-navigation(
    $color-border,
    $color-link,
    $color-link-hover,
    $color-link-background,
    $color-link-background-hover,
    $color-sub-menu-link-background,
    $color-border-hover:                            $color-border,
    $color-current-page:                            $color-link-hover,
    $color-current-page-background:                 $color-link-background-hover,
    $color-link-parent-hover:                       $color-link,
    $color-sub-menu-border:                         $color-border,
    $color-sub-menu-border-hover:                   $color-sub-menu-border,
    $color-sub-menu-link:                           $color-link,
    $color-sub-menu-link-hover:                     $color-link-hover,
    $color-sub-menu-link-background-hover:          $color-link-background-hover,
    $color-sub-menu-link-parent-hover:              $color-sub-menu-link,
    $color-sub-menu-current-page:                   $color-sub-menu-link-hover,
    $color-sub-menu-current-page-background:        $color-sub-menu-link-background
)
{
    @include clear-fix;
        margin-bottom: 32px;
    
    .nav__list
    {
        list-style: none;
        padding: 16px 0;
        margin: 0;
        background: $color-link-background;
        color: #000;
        
        .nav__item
        {
            border-top: 1px solid $color-border;
            
            &:first-child
            {
                border-top: 0;
            }

            .nav__link,
            strong
            {
                text-decoration: none;
                padding: 4px 16px;
                color: $color-link;
                display: block;
            }

            .nav__link
            {

                &:hover,
                &:focus,
                &:active
                {
                    background: $color-link-background-hover;
                    color: $color-link-hover;
                }
            }

            strong
            {
                background: $color-link-background-hover;
                color: $color-link-hover;
            }

            .nav__list
            {
                list-style: none;
                padding: 0;
                border-top: 1px solid $color-sub-menu-border;
                border-radius: 0;
            
                strong,
                .nav__link
                {
                    padding-left: 32px;
                }
                
                .nav__link
                {
                    background: $color-sub-menu-link-background;

                    &:hover,
                    &:focus,
                    &:active
                    {
                        background: $color-sub-menu-link-background-hover;
                        color: $color-link-hover;
                    }
                }
            }            
        }
    }
}

/**
 * Sets up sub navigation.
 *
 * @param string $color (Optional) Navigation color. Can be 'gold', 'tan', or 'grey'. Defaults to 'gold'.
 * @param boolean $main-dropdown (Optional) Whether the primary navigation uses dropdown menus. This uses a different nav macro. Defaults to false.
 * 
 */
@mixin sub-navigation(
    $color:                         'gold'
)
{
    @if ($color == 'tan') {
        @include custom-sub-navigation(
            $color-border: $color-gold-500,
            $color-link: $color-grey-600,
            $color-link-hover: #000,
            $color-link-background: $color-gold-200,
            $color-link-background-hover: $color-gold-100,
            $color-sub-menu-link-background: lighten($color-gold-100, 9%),
            $color-sub-menu-link-background-hover: lighten($color-gold-100, 25%)
        );
    } @else if ($color == 'grey') {
        @include custom-sub-navigation(
            $color-border: #000,
            $color-link: #fff,
            $color-link-hover: $color-gold-400,
            $color-link-background: $color-grey-500,
            $color-link-background-hover: #000,
            $color-sub-menu-link-background: $color-grey-300,
            $color-sub-menu-link-background-hover: #000
        );
    } @else if ($color == 'black') {
        @include custom-sub-navigation(
            $color-border: $color-grey-400,
            $color-link: #fff,
            $color-link-hover: $color-gold-500,
            $color-link-background: #000,
            $color-link-background-hover: $color-grey-600,
            $color-sub-menu-link-background: $color-grey-400,
            $color-sub-menu-link-background-hover: $color-grey-500
        );
    } @else if ($color == 'white') {
        @include custom-sub-navigation(
            $color-border: #000,
            $color-link: #000,
            $color-link-hover: $color-brown-500,
            $color-link-background: #fff,
            $color-link-background-hover: #fff,
            $color-sub-menu-link-background: $color-grey-200,
            $color-sub-menu-link-background-hover: $color-grey-100
        );
    } @else { // gold
        @include custom-sub-navigation(
            $color-border: $color-gold-400,
            $color-link: $color-grey-600,
            $color-link-hover: #000,
            $color-link-background: lighten($color-mu-gold, 25%),
            $color-link-background-hover: $color-mu-gold,
            $color-sub-menu-link-background: $color-gold-100,
            $color-sub-menu-link-background-hover: $color-gold-300
        );
    }
}