/**
 * Sass CSS Framework: Stories (News and Feature)
 *
 * Requires: mizzou-variables.scss, mizzou-base.scss
 *
 * @author Josh Hughes (hughesjd@missouri.edu), Travis Cook (cooktw@missouri.edu), Undergraduate Studies, University of Missouri
 * @copyright 2018 Curators of the University of Missouri
 */

/**
 * Overlay the text of a feature story over the image.
 *
 * @param unit $width (Optional) Width of the text. Defaults to 232px.
 * @param unit $width (Optional) Offset of the text from the corner. Defaults to 16px.
 * @param unit $image-min-height (Optional) Min-height for the image container (useful if the image doesn't load). Defaults to -1, which doesn't set it.
 */
 @mixin feature-story-text-overlay(
    $width:                     232px,
    $offset:                    16px,
    $image-min-height:          -1
)
{
    position: relative;
    display: block;
    
    .story__text
    {
        background: transparentize(#000, 0.1);
        width: 232px;
        position: absolute;
        margin-top: 0;
        bottom: $offset;
        right: $offset;
        
        &.story__text--align-top
        {
            top: $offset;
            bottom: auto;
        }
        
        &.story__text--align-left
        {
            left: $offset;
            right: auto;
        }
    }
    
    .story__image
    {
        margin-bottom: 0;
    
        @if ($image-min-height != -1) {
            min-height: $image-min-height;
        }
    }
}

.story
{
    margin-bottom: 32px;
    
    a
    {
        text-decoration: none;
    }
}

.story__category
{
    margin-bottom: 8px;
    margin-left: 16px;
    font-family: $font-serif;
    font-weight: $font-weight-bold;
    
    & + .story__image
    {
        margin-top: -8px;
    }
    
    a
    {
        padding: 4px 8px;
        display: block;
        color: $color-black;

        a:hover,
        a:focus,
        a:active
        {
            color: $color-mu-gold;
        }
    }

    a:hover,
    a:focus,
    a:active
    {
        a
        {
            color: $color-mu-gold;
        }
    }
}

.story__image
{
    margin-bottom: 8px;
    
    img
    {
        display: block;
        width: 100%;
    }
}

// Small margin for all elements
.story__title,
.story__date,
.story__location,
.story__attribution,
.story__excerpt,
.story__excerpt p
{
    @include standard-margin(
        $margin-bottom: 4px
    ); 
}

// Small font size for all regular text
.story__date,
.story__location,
.story__attribution p
{
    font-size: 14px;
}

// Small font size for all regular text
.story__category,
.story__excerpt p
{
    font-size: 16px;
}

.story__title
{
    font-size: 21px;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    color: $color-black;
    border-left: 20px solid $color-mu-gold;
    padding-left: 8px;
    margin-bottom: 16px;

    &:active, &:focus, &:hover
    {
        border-color: $color-black;
    }

    a
    {
        color: $color-black;
    }
}

.story__date,
.story__location,
.story__attribution
{
    font-style: italic;
}

.story__more
{
    text-transform: uppercase;
    margin-top: 2rem;

    a
    {
        text-decoration: none;
        padding: 4px;
        border-bottom: 2px solid $color-mu-gold;
        font-weight: $font-weight-bold;

        &:active, &:focus, &:hover
        {
            border-color: $color-black;
        }
    }
}

.story.card
{
    border: 0;

    .card-header,
    .card-footer
    {
        background: none;
        padding: inherit;
        border: 0;
        z-index: 2;
    }
}