/**
 * Sass CSS Framework: Grid System and Layout
 *
 * Requires: mizzou-variables.scss, mizzou-base.scss
 *
 * @author Josh Hughes (hughesjd@missouri.edu), Travis Cook (cooktw@missouri.edu), Undergraduate Studies, University of Missouri
 * @copyright 2018 Curators of the University of Missouri
 */

/**
 * Sets up containing div, centered with a max-width.
 *
 * @param unit $max-width (Optional) Width of the block. Defaults to 100%.
 */
 @mixin center-block(
    $max-width:                 100%
)
{
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
    
    @if ($max-width != 100%) {
        @media print
        {
            max-width: 100%;
        }
    }
}

/**
 * Creates a container for columns (setting padding and enclosing floats).
 *
 * @param float $padding-left (Optional) Padding left for the row (defaults to 8px).
 * @param float $padding-right (Optional) Padding right for the row (defaults to 8px).
 */
@mixin grid-row(
    $padding-left:      8px,
    $padding-right:     8px
)
{
    @include clear-fix;
    padding-left: $padding-left;
    padding-right: $padding-right;
}

/**
 * Takes a given fraction, and generates a floated column.
 *
 * Example:
 *
 *     @include grid-column(1, 2);
 *
 * ... which will output the following:
 * 
 *     float: left
 *     width: 50%;
 *
 * @param int $x Numerator.
 * @param int $y Denominator.
 * @param float $padding-left (Optional) Padding left for the column (defaults to 8px).
 * @param float $padding-right (Optional) Padding right for the column (defaults to 8px).
 * @param string $float-direction (Optional) How to float the column (defaults to left).
 */
@mixin grid-column(
    $x,
    $y,
    $padding-left:          8px,
    $padding-right:         8px,
    $float-direction:       left
)
{    
    float: $float-direction;
    width: ($x * 100% / $y);
    padding-left: $padding-left;
    padding-right: $padding-right;
}

.miz-fill--image
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}