/**
 * Sass CSS Framework: Article
 *
 * Requires: mizzou-variables.scss, mizzou-base.scss
 *
 * @author Josh Hughes (hughesjd@missouri.edu), Travis Cook (cooktw@missouri.edu), Undergraduate Studies, University of Missouri
 * @copyright 2018 Curators of the University of Missouri
 */

.article__author
{
    @extend .like-h5;
    
    // If there's an article date, collapse the margin
    & + .article__date
    {
        margin-top: -16px;
    }
}

.article__attribution
{
    @extend .like-h4;
    font-style: italic;
    
    a
    {
        color: #000;
        
        &:hover,
        &:focus,
        &:active
        {
            color: $color-brown-500;
        }
    }
}

.article__category
{
    @extend .like-h4;
    
    a
    {
        color: #000;
        
        &:hover,
        &:focus,
        &:active
        {
            color: $color-brown-500;
        }
    }
}