/**
 * Sass CSS Framework: Layers
 *
 * Requires: mizzou-variables.scss, mizzou-base.scss
 *
 * @author Travis Cook (cooktw@missouri.edu), Undergraduate Studies, University of Missouri
 * @copyright 2018 Curators of the University of Missouri
 *
 * Based on styling from the Design System
 */

 .miz-body
 {
     background-color: $color-grey-500;
 }
 
 .miz-wrapper
 {
     max-width: 93.75em;
     padding: 0;
     margin-left: auto;
     margin-right: auto;
     background: #fff;
 }
 
 .miz-container
 {
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     padding-right: 15px;
     padding-left: 15px;
 
     @media #{$query-576}
     {
         max-width: 540px;
     }
 
     @media #{$query-768}
     {
         max-width: 720px;
     }
 
     @media #{$query-992}
     {
         max-width: 960px;
     }
 
     @media #{$query-1200}
     {
         max-width: 1140px;
     }
 }
 
 .miz-layer
 {
     display: flex;
     flex-wrap: wrap;
     margin: 2rem 0 2rem 0;
 }
 
 .miz-main-content__article
 {
     width: 100%;
 
     @media #{$query-768}
     {
         position: relative;
         padding-right: 15px;
         padding-left: 15px;
     }
 }
 
 .miz-main-content__aside
 {
     width: 100%;
     margin-top: 32px;
 
     @media #{$query-768}
     {
         position: relative;
         min-height: 1px;
         padding-right: 15px;
         padding-left: 15px;
         margin-top: 0;
     }
 }
 
 .miz-main-content
 {
     @include clear-fix;
    
 
     &--right-aside
     {
         .miz-main-content__article
         {
             @media #{$query-768}
             {
                 position: relative;
                 width: 100%;
                 max-width: 75%;
                 padding-right: 15px;
                 padding-left: 15px;
                 flex: 0 0 75%;
             }
         }
 
         .miz-main-content__aside
         {
             width: 100%;
 
             @media #{$query-768}
             {
                 position: relative;
                 max-width: 25%;
                 min-height: 1px;
                 padding-right: 15px;
                 padding-left: 15px;
                 flex: 0 0 25%;
             }
         }
     }
 
     &--left-aside
     {
         .miz-main-content__article
         {
             @media #{$query-768}
             {
                 position: relative;
                 width: 100%;
                 max-width: 75%;
                 padding-right: 15px;
                 padding-left: 15px;
                 flex: 0 0 75%;
             }
         }
 
         .miz-main-content__aside
         {
             width: 100%;
 
             @media #{$query-768}
             {
                 position: relative;
                 max-width: 25%;
                 min-height: 1px;
                 padding-right: 15px;
                 padding-left: 15px;
                 flex: 0 0 25%;
                 order: -1;
             }
         }
     }
 }
 
 .miz-fill
 {
     &--black
     {
         background-color: $color-grey-600;
     }
 
     &--white
     {
         background-color: #fff;
     }
 
     &--gold
     {
         background-color: $color-gold-400;
         border-bottom: 1px solid $color-gold-500;
         border-top: 1px solid $color-gold-400;
     }
 }