/**
 * CSS for WordPress Editor
 *
 * @author Josh Hughes (hughesjd@missouri.edu), Travis Cook (cooktw@missouri.edu), Undergraduate Studies, University of Missouri
 * @copyright 2018 Curators of the University of Missouri
 */

/* @group Imports */

@import 'style';

/* @end */

/* @group Basic Styles */

html,
#tinymce
{
    background: #fff;
    font-size: inherit;
    border: 0;
}

#tinymce
{
    font-family: $font-sans-serif;
    padding: 16px !important;
    margin: 0 !important;
}

/* @end */

/* @group Image Alignment */

.alignleft
{
    @include align-left;
}

.aligncenter
{
    @include align-center;
}

.alignright
{
    @include align-right;
}

/* @end */