/**
 * CSS for PROJECT
 *
 * @author Josh Hughes (hughesjd@missouri.edu), Travis Cook (cooktw@missouri.edu), Undergraduate Studies, University of Missouri
 * @copyright 2018 Curators of the University of Missouri
 */
 
/* @group Bootstrap */

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/input-group";
@import "../../node_modules/bootstrap/scss/custom-forms";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/jumbotron";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/media";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/print";

/* @end */

/* @group Variables */

@import '../../bower_components/undergraduate-studies-boilerplate/src/scss/base/mizzou-variables';

/* @end */

/* @group Imports */
    
@import '../../bower_components/undergraduate-studies-boilerplate/src/scss/index';

/* @end */

/* @group Basic Styles */

main
{
    clear: both;
    
    @media #{$query-704}
    {

        padding-top: 0px;
    }
    
    @media #{$query-944}
    {

    }
}

aside
{    
    @media print
    {
        display: none;
    }
}

/* @end */

/* @group Header */

.unit-signature
{
    @include unit-signature(
        $size: 'small',
        $name-width: 192px,
        $name-height: 29px
    );
    
    @media #{$query-384}
    {
        @include unit-signature(
            $size: 'medium',
            $name-width: 282px,
            $name-height: 42px
        );
    }
    
    @media #{$query-464}
    {
        @include unit-signature(
            $size: 'large',
            $name-width: 373px,
            $name-height: 56px
        );
    }
    
    @media print
    {
        @include unit-signature(
            $size: 'large',
            $name-width: 373px,
            $name-height: 56px,
            $include-print-style: true
        );
    }

    .unit-signature__name
    {
        margin-left: 0;
        padding-left: 0;
    }
}

.search-form
{
    @include search-form(
        $theme: 'dark',
        $color-button: 'gold'
    );

    .search-form__input
    {
        width: 240px;
        font-size: 14px;
    }
}

/* @end */

/* @group Navigation */

.nav--primary-navigation
{      
    @include vertical-navigation(
        $color: 'gold',
        $include-mobile-menu: true,
        $query-disable-mobile-menu: $query-784
    );
    
    @media #{$query-784}
    {
        @include horizontal-navigation(
            $color: 'gold',
            $include-dropdown: false
        );
    }

    .nav__mobile-menu-button-link
    {
        width: 128px;
    }
}

#mobile-nav
{
    .nav-sub__list
    {
        display: none;
    }

    @media #{$query-704}
    {
        display: none; 
    }
}

.navigation--sub-navigation
{    
    @include sub-navigation(
        $color: 'gold'
    );
}

/* @end */

/* @group Content */

/* @end */

/* @group Forms */

p#add-contact-block
{
    margin: -16px 0 32px 0;
}

/* @end */

/* @group News and Events */

.news__container,
.events__container
{
    padding: 16px;
    background: #fff;
    
    @media #{$query-704}
    {
        
    }
}

.news__header,
.events__header
{
    @extend .like-h3;
    @extend .heading--with-separator;
}

.story-collection
{
    @media #{$query-464}
    {
        @include grid-row;
        margin-left: -16px;
        margin-right: -16px;
        margin-bottom: 16px;
    }
    
    .story,
    .event
    {
        @media #{$query-464}
        {
            @include grid-column(
                $x: 1,
                $y: 2
            );
            
            &:nth-child(2n + 1)
            {
                clear: both;
            }
        }

        @media #{$query-784}
        {
            @include grid-column(
                $x: 1,
                $y: 3
            );

            &:nth-child(2n + 1)
            {
                clear: initial;
            }

            &:nth-child(3n + 1)
            {
                clear: both;
            }
        }
    }
}

/* @end */

/* @group Footer */

/* @end */