/**
 * "Text-only" Stylesheet for Old Browsers
 *
 * @author Josh Hughes (hughesjd@missouri.edu), Undergraduate Studies, University of Missouri
 * @copyright 2016 Curators of the University of Missouri
 */
 
/* @group Variables */

@import 'mizzou-variables';

// Disable larger text and inset image media queries (unsupported by browsers we're serving this stylesheet to)
$query-larger-text:     false;
$query-inset-images:    false;

/* @end */

/* @group Other Imports */

@import 'mizzou-base';
@import 'mizzou-alerts';

/* @end */

/* @group Basic Styles */

html
{
    background: #fff;
}

body
{
    padding: 16px;
}

.skip-to-content
{
    display: block;
    margin-bottom: 16px;
}

/* @end */